/* QUOTE STYLING */
.Quotes {
    font-family: 'Courier New', 'Georgia', 'Times New Roman', serif;
    font-style: italic;
    color: var(--light-bg-color); /* Dark gray color for better readability */

    
    padding-left: 10px;
    padding-right: 10px;
}








